* {
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden; 
    padding: 0;
    margin: 0;
    background-color: #d1d1d1 !important;
}
.dp{
    height: 300px !important;
    width: 300px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    object-position: center !important; 
}
.info {
    height: auto; 
    margin-bottom: 2rem;
}
.profile-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pfp, .textInfo {
    padding: 1rem;
}

.bio{
    width: 80%;
    font-weight: 400;
}
.submit-btn{
    background-color: #0d0d0d!important;
    border-color: #0d0d0d !important;
    
}
.submit-btn a{
    text-decoration: none;
    color: white !important;
}
.btn-diplay{
    display: flex !important;
}
.btn-edit{
    background-color: #0d0d0d !important;
    border-color: #0d0d0d !important;
    margin-right: 1rem;
}
.btn-delete{
    background-color: red !important;
    border-color: red !important;
    margin-right: 1rem;
}

.navb{
    width: 100% !important;
    backdrop-filter: blur(10px) !important;
}

.btn-nav{
    color: black !important;
}
.logout-btn{
    border-color: black !important;
}
.card-img{
    /* height: 400px; */
    /* width: 100%; */
    object-fit: cover;
    object-position: center;
}

.posts-masonry {
    column-count: 1;
    column-gap: 1rem;
}

@media (min-width: 576px) {
    .posts-masonry {
        column-count: 2;
    }
}
@media (min-width: 768px) {
    .posts-masonry {
        column-count: 3;
    }
}
@media (min-width: 992px) {
    .posts-masonry {
        column-count: 4;
    }
}

.posts-masonry .post {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    background: white;
    border-radius: 0.5rem;
}

